:root {
    --dark-brown: #4B3832;
    --cream: #FFF4E6;
    --maroon: #854442;
    --beige: #BE9B7B;
    --darker-brown: #3C2F2F;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 50px;
    background-color: var(--dark-brown);
}

/* classlist usage */
.highlight-tab {
    border: 5px solid var(--maroon);
}

.highlight-icon {
    border: 2px solid var(--maroon);
}

/* styling */
.app-title-text {
    align-self: center;
    justify-content: center;
    color: var(--cream);
}

.app-name-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-section {
    display: block;
    justify-content: center;
    align-items: center;
}

.tab-section-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-subtitle-text {
    align-self: center;
    justify-content: center;
    color: var(--cream);
}

.category-list-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.category-item {
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 10px;
    padding-right: 10px;
}

.category-item-text {
    color: var(--darker-brown);
    float: left;
    font-size: 30px;
    font-size: 3vw;
}

.category-icon {
    width: 8vw;
    float: right;
    margin: 10px;
}

.navigation-icon {
    width: 8vw;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

#settings-img {
    float: right;
}

#refresh-img {
    float: left;
}

.radio-list-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.radio-item {
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

.radio-item-name {
    display: flex;
    color: var(--darker-brown);
    align-self: center;
    justify-content: center;
}

.icon-button-container-play {
    display: flex;
    align-self: center;
    justify-content: center;
}

.icon-button-container-quit {
    display: none;
    align-self: center;
    justify-content: center;
}

.icon-button {
    background-color: transparent;
    border: none;
}

.settings-list-layout {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 20px;
    padding: 20px;
}

.settings-item {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.settings-item-text {
    color: var(--cream);
}

.settings-value-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.settings-value-item {
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 5px;
    padding-right: 5px;
}

.settings-value-text {
    color: var(--darker-brown);
}

.setting-selected {
    background-color: var(--beige);
}