:root {
    --dark-brown: #4B3832;
    --cream: #FFF4E6;
    --maroon: #854442;
    --beige: #BE9B7B;
    --darker-brown: #3C2F2F;
}
html {
    background: linear-gradient(var(--dark-brown), black);
    height: 100vh;
}

body {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 48px;
}

/* styling */
.app-title-text {
    align-self: center;
    font-size: 3em;
    font-weight: 900;
    font-style: italic;
    justify-content: center;
    color: var(--cream);
}

.app-name-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-section {
    display: block;
    justify-content: center;
    align-items: center;
}

.tab-section-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-subtitle-text {
    align-self: center;
    font-weight: 200;
    justify-content: center;
    color: var(--cream);
}

.category-list-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.highlighted-item {
    outline: 8px solid var(--beige);
    -webkit-filter: drop-shadow(0 0 3px var(--maroon));
}

.category-item {
    -webkit-filter: none !important;
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 16px;
    padding-right: 16px;

    display: inline-flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-item-text {
    color: var(--darker-brown);
    font-size: 32px;
    flex: auto;
    width: 70%;
}

.category-icon {
    align-self: center;
    flex: auto;
    max-width: 25%;
    padding: 8px;
}

.category-navigation-icon, .radio-navigation-icon {
    outline: none !important;
    max-height: 76px;
    max-width: 76px;
    align-self: center;
    flex: auto;
    padding: 16px 8px;
}

.radio-navigation-icon {
    max-height: 48px !important;
    max-width: 48px !important;
}

.radio-list-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

.radio-item {
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 16px;
    padding-right: 16px;

    display: inline-flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    overflow: hidden;
}

.radio-item-name {
    color: var(--darker-brown);
    flex: initial;
    font-size: 24px;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-button-container-play {
    align-self: center;
    scale: 1.75;
}

.icon-button-container-quit {
    display: none;
    align-self: center;
    scale: 1.75;
}

.icon-button {
    outline: none !important;
    background-color: transparent;
    border: none;
}

