:root {
    --dark-brown: #4B3832;
    --cream: #FFF4E6;
    --maroon: #854442;
    --beige: #BE9B7B;
    --darker-brown: #3C2F2F;
}

body {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 48px;
    background-color: var(--dark-brown);
}

/* styling */
.app-title-text {
    align-self: center;
    font-size: 3em;
    font-weight: 900;
    font-style: italic;
    justify-content: center;
    color: var(--cream);
}

.app-name-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-section {
    display: block;
    justify-content: center;
    align-items: center;
}

.tab-section-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-subtitle-text {
    align-self: center;
    font-weight: 200;
    justify-content: center;
    color: var(--cream);
}

.category-list-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.highlighted-item {
    outline: 5px solid var(--maroon);
}

.category-item {
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 16px;
    padding-right: 16px;

    display: inline-flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-item-text {
    color: var(--darker-brown);
    font-size: 32px;
    flex: auto;
    width: 70%;
}

.category-icon {
    align-self: center;
    flex: auto;
    max-width: 25%;
    padding: 8px;
}

.navigation-icon {
    width: 8vw;
    margin: 10px 25px;
}

.radio-list-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.radio-item {
    border-radius: 5px;
    background-color: var(--cream);
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

.radio-item-name {
    display: flex;
    color: var(--darker-brown);
    align-self: center;
    justify-content: center;
}

.icon-button-container-play {
    display: flex;
    align-self: center;
    justify-content: center;
}

.icon-button-container-quit {
    display: none;
    align-self: center;
    justify-content: center;
}

.icon-button {
    background-color: transparent;
    border: none;
}

